.title-product {
    h1 {
        font-size: 24px;
    }
    h2 {
        a {
            font-size: 18px;
            color: #000;
        }
    }
}

.selct-range-product {
    .category {
        .title-list {
            padding-left: unset;
        }
    }
}